.container {
  width: 600px;
  height: 600px;
}

.sign-up-page {
  height: 100%;
  width: 100%;
  background: #607d8b1a;
}

.field {
  margin: 5px;
  width: calc(100% - 10px);
}

.divider {
  margin-bottom: 5px;
}

.message {
  color: red;
}
