<div class="main-container">
  <div
    class="justify-content-center align-items-center header"
    *ngIf="isLoggedIn$ | async"
  >
    <img src="assets/images/logo.png" class="header-logo" />
    <div class="nav-container">
      <mat-nav-list class="list-horizontal">
        <a mat-list-item [routerLink]="['/home']" id="nav-item">
          <span id="nav-item-span">Home</span>
        </a>
        <a mat-list-item [routerLink]="['/users']" id="nav-item">
          <span id="nav-item-span">User panel</span>
        </a>

        <a mat-list-item [routerLink]="['/expenses']" id="nav-item">
          <span id="nav-item-span">Expense panel</span>
        </a>

        <a mat-list-item (click)="logout()" id="nav-logout-item">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout, {{ (loggedUser$ | async)?.firstName }}</span>
        </a>
      </mat-nav-list>
    </div>
  </div>

  <router-outlet></router-outlet>

  <footer *ngIf="isLoggedIn$ | async"></footer>
</div>
